@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "yekan";
  src: url("./assets/fonts/YekanBakh-Regular.ttf");
}
@font-face {
  font-family: "vazir";
  src: url("./assets/fonts/Vazir.ttf");
}
@font-face {
  font-family: "IranianSans";
  src: url("./assets/fonts/IranianSans.ttf");
}
@font-face {
  font-family: "Wtahoma";
  src: url("./assets/fonts/Wtahoma.ttf");
}
@font-face {
  font-family: "Vazir-Bold";
  src: url("./assets/fonts/Vazir-Bold.ttf");
}

body {
  font-family: "vazir";
  width: 100%;
  height: 100%;
}
.nav-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px;
}
